<div fxLayout="column" fxLayoutAlign="space-between stretch">
    <div fxFlex="15px"></div>
        <mat-slider  fxFlexAlign="stretch" style="width: 100%;height: 40px" thumbLabel [displayWith]="formatSliderLabel" tickInterval="auto" [min]="min" [max]="max" (input)="onSliderChange($event)">
        </mat-slider>
    
    <div fxLayout="row">
        <div fxFlex>
            <small><small><mat-icon>vpn_key</mat-icon>{{job.jobID}}</small></small>
        </div>
        <div fxFlex>
            <small><small><mat-icon>calendar_today</mat-icon>{{ job.jobDate | date: 'medium'}}</small></small>
        </div>
        <div fxFlex>
            <small><small><mat-icon>phone</mat-icon>{{job.jobPhone || ''}}</small></small>
        </div>
        <div fxFlex>
            <small><small><mat-icon>person</mat-icon>{{job.jobCustomer || ''}}</small></small>
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <div fxLayout="row">
        <div fxFlex>
            <small><small><mat-icon>receipt</mat-icon>{{ job.jobOrderNumber || ''}}</small></small>
        </div>
        <div fxFlex>
            <small><small><mat-icon>email</mat-icon>{{job.jobEmail || ''}}</small></small>
        </div>
        <div fxFlex>
            <small><small><mat-icon>business</mat-icon>{{job.jobBusinessName || ''}}</small></small>
        </div>

        <div fxFlex>
            <small><small><mat-icon>home</mat-icon>{{job.jobAddress || ''}}</small></small>
        </div>

    </div>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>


    <div fxLayout="row">
        <mat-form-field fxFlex="200px" *ngIf="job.jobFussyNotes">
            <small><small><textarea [disabled]="disabled" matInput placeholder="Notes" [ngModel]="job.jobFussyNotes"></textarea></small></small>
        </mat-form-field>
        <mat-form-field fxFlex="100px" *ngIf="job.jobDelivery">
            <small><small><input [disabled]="disabled" matInput placeholder="Delivery" [ngModel]="job.jobDelivery"></small></small>
        </mat-form-field>
        <mat-form-field fxFlex="100px" *ngIf="job.jobReceivedFrom">
            <small><small><input [disabled]="disabled" matInput placeholder="Received From" [ngModel]="job.jobReceivedFrom"></small></small>
        </mat-form-field>
        <mat-form-field fxFlex="100px" *ngIf="job.jobPaymentBy">
            <small><small><input [disabled]="disabled" matInput placeholder="Payment By" [ngModel]="job.jobPaymentBy"></small></small>
        </mat-form-field>
        <mat-form-field fxFlex="200px" *ngIf="job.jobNotes">
            <small><small><textarea [disabled]="disabled" matInput placeholder="Notes" [ngModel]="job.jobNotes"></textarea></small></small>
        </mat-form-field>
        <mat-form-field fxFlex="100px" *ngIf="job.jobCollected">
            <small><small><input [disabled]="disabled" matInput placeholder="Collected" [ngModel]="job.jobCollected"></small></small>
        </mat-form-field>
       <form [formGroup]="dateFormGroup">
            <mat-form-field fxFlex="110px" *ngIf="job.jobDateRequired">
            <small><small><input matInput  fxFlex="100px"  [matDatepicker]="picker1" placeholder="Date Required" [value]="job.jobDateRequired" formControlName="picker1"></small></small>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="110px" *ngIf="job.jobDateCompleted">
            <small><small><input matInput fxFlex="100px"  [matDatepicker]="picker2" placeholder="Date Completed" [value]="job.jobDateCompleted" formControlName="picker2"></small></small>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field fxFlex="110px" *ngIf="job.jobDatePaid" >
            <small><small><input matInput  fxFlex="100px"  [matDatepicker]="picker3" placeholder="Date Paid" [value]="job.jobDatePaid" formControlName="picker3"></small></small>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker [disabled]="disabled" #picker3></mat-datepicker>
            </mat-form-field>
        </form>
    </div>

    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <div fxLayout="row">
        <ng-container *ngFor="let suffixAndType of jobDetailInfo.suffixAndType">
            <div fxFlex>
                <small><small><b>{{suffixAndType.suffix}}</b></small></small>
            </div>
        </ng-container>
    </div>

    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let i of jobDetailFor">
        <div fxLayout="row" *ngIf="hasJobDetailInfoNonNull(i)">
            <ng-container *ngFor="let suffixAndType of jobDetailInfo.suffixAndType">
                <div fxFlex>
                    <small><small>{{getJobDetailInfo(i, suffixAndType.suffix)}}</small></small>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <ng-container *ngFor="let name of repeatedNameList.names">
        <div fxLayout="row" *ngIf="hasRepeatedNameNonNull(name)">
            <ng-container *ngFor="let suffixAndType of repeatedNameList.suffixAndType">
                <div fxFlex>
                <small><small>{{getRepeatedNameInfo(name, suffixAndType.suffix)}}</small></small>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngFor="let name of ['Freight', 'SubTotal', 'GST', 'TOTAL']">
        <ng-container *ngIf="name === 'TOTAL'">
            <b><mat-divider ></mat-divider></b>
            <b><mat-divider ></mat-divider></b>
        </ng-container>
            
        <div fxLayout="row">
            <div fxFlex="60%"></div>
            <div fxFlex="20%">
            <small><small>{{name}}</small></small>
            </div>
            <div fxFlex="20%">
            <small><small>{{convertToCurrency(job['job'+name] || '')}}</small></small>
            </div>            
        </div>
        <ng-container *ngIf="name === 'TOTAL'">
            <b><mat-divider ></mat-divider></b>
            <b><mat-divider ></mat-divider></b>
        </ng-container>
    </ng-container>
    
    
    <div fxFill fxLayout="column" *ngIf="imageDelayComplete && imageurl">
       
            <div fxLayout="row" fxLayoutAlign="stretch start">
                <button fxFlex="50%" mat-raised-button color="accent" (click)="cycleImage()">Next Image</button>
                <button fxFlex="50%" mat-raised-button  (click)="toggleScaleDown()">Scale</button>
            </div>
            <div fxFlex="20px" fxLayout="row" fxLayoutAlign="stretch start"></div>

      
        
        <img  fxFill [class]="scale ? 'imgScaleDown' : 'imgFill'" [src]="imageurl" alt="">  
        
    <div>
</div>